/* fonts */
@font-face {
    font-family: "glacialindifference-regular";
    src: url('../assets/fonts/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: "glacialindifference-bold";
    src: url('../assets/fonts/GlacialIndifference-Bold.otf');
}

.container {
    margin-top: 100px;
}

.title {
    font-family: 'glacialindifference-bold';
    color: #30363d;
    font-size: 45px;
}

.description {
    letter-spacing: 1px;
    font-size: 30px;
}