/* fonts */
@font-face {
    font-family: "glacialindifference-regular";
    src: url('../assets/fonts/GlacialIndifference-Regular.otf');
}
@font-face {
    font-family: "glacialindifference-bold";
    src: url('../assets/fonts/GlacialIndifference-Bold.otf');
}

.title {
    font-family: 'glacialindifference-bold';
    color: #30363d;
    font-size: 70px;
    width: 50vw;
}
.title span{
    color: #58A6FF;
    text-shadow: 0 0 3px #58a6ffa4;
    display: inline-block;
}
.description{
    width: 75%;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    overflow: hidden;
}
.description span{
    display: inline-block;
    margin-right: 7px;
}
.first{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.container {
    margin-top: 30px;
    display: flex;
}
.circle{
    height: 325px;
    right: 0%;
    width: 325px;
    border-radius: 50%;
    background: #161b22;
    border: 4px solid #58A6FF;
    overflow: hidden;
}
.circle img{
    height: 100%;
    object-fit: cover;
    width:100%;
}

.stats{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    flex-direction: column;
}
.githubcontri{
    height: 180px;
    margin-top: 30px;
}

@media screen and (max-width: 1470px) {
    .githubcontri{
        /* height: 0; */
    }
    
}

@media screen and (max-width: 800px) {
    .circle{
        left: 0;
        top: 100%;
    }    
    .me{
        margin-bottom: 400px;
    }
}

@media screen and (max-width: 400px) {
    .circle{
        width: 80vw;
        height: 80vw;
        margin-top: 20px;       
    }
}
