/* fonts */
@font-face {
    font-family: "glacialindifference-regular";
    src: url('../assets/fonts/GlacialIndifference-Regular.otf');
}
@font-face {
    font-family: "glacialindifference-bold";
    src: url('../assets/fonts/GlacialIndifference-Bold.otf');
}

.title {
    font-family: 'glacialindifference-bold';
    color: #30363d;
    font-size: 40px;
}

.container {
    margin-top: 100px;
}

.description{
    margin-top: 30px;
    letter-spacing: 1px;
    font-size: 28px;
}

.container>div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}
.projectimage{
    height: 13rem;
    border-radius: 10px;
    border: 1px solid #58a6ff75;
    overflow: hidden;
}
.project{
    max-width: 350px;
}
.projectimage img{
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projecttitle{
    font-size: 25px;
    padding: 10px;
    font-family: 'glacialindifference-bold';
}
.projectdate{
    font-size: 15px;
    padding: 0 10px;
}
.projectdescription{
    padding: 10px 10px;
}
